:root {
  --main-orange: #ff902f;
  --main-navy-blue: #1a2961;
}

.homepage-container {
  min-height: 100vh;
}

.clear {
  clear: both;
}

/* Carousel Styles */
.carousel-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.carousel-img {
  aspect-ratio: 1/1;
  width: 500px;
  /* height: 540px; */
}

/* Events Styles */
.events-title {
  color: var(--main-navy-blue);
  text-align: right;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  justify-items: center;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  direction: rtl;
}

.event {
  background-color: whitesmoke;
  width: 280px;
  height: 480px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 0px;
}

.event-title {
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  direction: rtl;
  color: var(--main-navy-blue);
}

.OPENDAY {
  font-size: 17.2px;
}

.event-img {
  width: 100%;
  height: 250px;
  cursor: pointer;
  margin-bottom: 15px;
}

.events-more-button {
  background-color: var(--main-orange);
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  color: #444444;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 100px;
  margin-bottom: 40px;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 0px;
}

/* Events $ Workshops */
.events-more-button-link,
.workshops-more-button-link {
  color: #444444;
  text-decoration: none;
}

.events-title-link,
.workshops-title-link {
  color: var(--main-navy-blue);
  text-decoration: none;
}
